h1 {
    text-align: center;
    margin: 5%;
    color: white;
}

h2 {
    text-align: center;
}
html, body {
  background-color: #303030;
}

.bg-light {
    background: #FFE733;
    background: -moz-linear-gradient(45deg, #FFE733 0%, #CE0000 100%, #C59237 100%);
    background: -webkit-linear-gradient(45deg, #FFE733 0%, #CE0000 100%, #C59237 100%);
    background: linear-gradient(45deg, #FFE733 0%, #CE0000 100%, #C59237 100%);
    height: 150px;
    width: 100%;
}

.logo {
    margin-top: -1%;
    width: 17%;
}

nav ul {
    margin: 0 auto;
    width: 70%;
}

.nav-item {
    margin: 0 auto;
    font-size: 1.3em;
}

.search {
    width: 97%;
}

.btn-outline-success {
    border-radius: 15px !important;
    width: 18%;
    background-color: #0DC406
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.links a {
    color: black !important;
}

.container {
    width: 80%;
    border: 1px solid red;
    box-shadow: 2px 2px 2px yellow;
    border-radius: 10px;
    background: #CE0000;

    margin: 0 auto;
    max-width: 100%;
    display: flex;
    justify-content: space-around;
    height: 250px;
}
